body {
    font-size: 1em;
    font-weight: normal;
    font-family: Arial, Sans-serif;
    color: #000000;
    text-align: left;
}
h1 {
    font-size: 1.8em;
    font-weight: bold;
    color: #0000ff;
    text-align: center;
}
h2 {
    font-size: 1.6em;   
}
div {
    background-color: burlywood;
}
p {
    border-bottom: 1px solid red;
}

/*Unit 3 Lesson 5.2*/
#skipnav {
    width: 10em;
}

.info {
    width: 10%;
    font-size: 1.2em;
}

#overview {
    font-size: 1.2em;
    font-weight: bold;
}

.temp {
    font-style: italic;
}

main {
    background-color: coral;
    color:brown;
}